@import "variables.css";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", sans-serif;
  background-color: var(--primaryBgColor);
}
#title {
  background-color: var(--headerBackground);
  color: var(--titlePrimaryColor);
  padding: 0.2rem 1rem;
  
}
#navigation {
  display: flex;
  padding: 0.2rem 1rem;
  background-color: var(--navBackgroundColor);
  position: sticky;
  ul li {
    margin-right: 1rem;
    float: right;
    padding: 0.5rem 1rem;
    list-style: none;
    button {
      background-color: var(--navBackgroundColor);
      border: none;
      color: var(--titlePrimaryColor);
      font-size: 1rem;
    }
    button:hover {
      text-decoration: underline;
    }
  }
}


.movie_card{
  display: flex;
  margin-top: 2rem;
  border: var(--primaryBorderColor) 1px solid;
  border-radius: 1rem;
  margin-left: 2.5rem;
  h3{
    margin-left: 1rem;
    
  }
  #titleBackground{
    background-color: var(--headerBackground);
    color: var(--primaryBgColor);
    padding: 0.2rem 1rem;
    border-radius: 1rem 1rem 0 0;
    
    
  }
  img{
    width: 250px;
    height: 350px;
    float: left;
    margin-right: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
}
