@import "variables.css";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}
#title {
  background-color: var(--headerBackground);
  color: white;
  padding: 0.2rem 1rem;
  
}
#navigation {
  display: flex;
  padding: 0.2rem 1rem;
  background-color: var(--navBackgroundColor);
  position: sticky;
  top: 0;
  ul li {
    margin-right: 1rem;
    float: right;
    padding: 0.5rem 1rem;
    list-style: none;
    button {
      background-color: #9a001d;
      border: none;
      color: white;
      font-size: 1rem;
    }
    button:hover {
      text-decoration: underline;
    }
  }
}


.movie_card{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border: black 1px solid;
  border-radius: 1rem;
  width: 100%;
  img{
    width: 20%;
    height: 80%;
    margin-left: 1rem;
    float: left;
  }
  
}
